*
!/.gitignore
!/src
!/src/app
!/src/app/etc/
!/src/app/code/
!/src/app/code/**
!/src/app/design/
!/src/app/design/**
!/src/app/etc/config.php
!/composer.json
!/composer.lock
!/README.md
!/compose.yaml
!/compose.dev-linux.yaml
!/compose.dev-ssh.yaml
!/compose.dev.yaml
!/compose.healthcheck.yaml
